#nav_inner ul, #nav_inner ul li, #nav_inner ul ul, #top_strip_inner ul,
	#top_strip_inner ul li, #top_strip_inner ul ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#nav_inner ul, #top_strip_inner ul {
	position: relative;
	z-index: 597;
	float: left;
}

#nav_inner ul li, #top_strip_inner ul li {
	float: left;
	line-height: 1.8em;
	vertical-align: middle;
	zoom: 1;
}

#nav_inner ul li.hover, #nav_inner ul li:hover, #top_strip_inner ul li.hover,
	#top_strip_inner ul li:hover {
	position: relative;
	z-index: 599;
	cursor: default;
}

#nav_inner ul ul {
	visibility: hidden;
	position: absolute;
	top: 40px;
	left: 0;
	z-index: 598;
	width: 100%;
}

#top_strip_inner ul ul {
	visibility: hidden;
	position: absolute;
	top: 31px;
	left: 0;
	z-index: 598;
	width: 100%;
}

#nav_inner ul ul li, #top_strip_inner ul ul li {
	float: none;
}

#nav_inner ul ul ul, #top_strip_inner ul ul ul {
	top: 0px;
	left: 99%;
}

#nav_inner ul li:hover>ul, #top_strip_inner ul li:hover>ul {
	visibility: visible;
}

#nav_inner ul {
	font-size: 16px;
}

#nav_inner ul li a {
	padding: 6px 15px 14px 15px;
	display: block;
}

#nav_inner ul li a:link, #nav_inner ul li a:visited {
	text-decoration: none;
}

#nav_inner ul ul, #top_strip_inner ul ul {
	width: 150px;
}

#nav_inner ul li ul li a, #top_strip_inner ul li ul li a {
	padding: 9px 10px;
	line-height: normal;
	font-size: 12px;
}

#nav_inner ul li ul li ul {
	margin-left: 2px;
}

#nav_inner ul ul li {
	font-weight: bold;
	margin-top: 0px;
}

#top_strip_inner ul ul li {
	margin-top: -1px;
}

#nav ul.dropdown ul {
	width: 150px;
	top: 42px;
}

#nav ul.dropdown ul li ul {
	top: 1px;
}

#top_strip_inner ul {
	float: left;
}

#top_strip_inner ul li {
	font: 11px Verdana, Geneva, sans-serif;
}

#top_strip_inner ul li a {
	padding: 8px 15px 9px 15px;
	display: block;
}

#top_strip_inner ul li ul li a {
	padding: 9px 10px;
	line-height: normal;
	font-size: 11px;
}

#top_strip_inner ul ul li ul {
	top: 1px;
}