/* Import RESET styling for grid framework*/
@import url("reset.css");

/* Import GRID styling for grid framework*/
@import url("default.css");

/*  --------------------------------------------------
Global Reset - Resets all browser defaults to 0
-------------------------------------------------- */
html, body {
	margin: 0px;
	padding: 0px;
}

body {
	font: 12px Arial, Helvetica;
}

.fix {
	clear: both;
	height: 1px;
	margin: -1px 0 0;
	overflow: hidden
}

.fl {
	float: left
}

.fr {
	float: right
}

.ac {
	text-align: center
}

.ar {
	text-align: right
}

hr {
	margin-bottom: 30px;
	margin-top: 20px;
	clear: both;
}

p {
	padding: 0px 0 10px 0;
	margin: 0;
	line-height: 22px;
	margin: 0;
}

p em {
	line-height: 20px;
}

code {
	line-height: 18px;
}

.alignleft {
	float: left;
	padding: 5px;
	margin: 13px 12px 0px 0;
}

.alignright {
	float: right;
	padding: 5px;
	margin: 24px 0 0px 12px;
}

/* headings ---------------------- */
h1.page_head, h1.single_head {
	padding: 0 0 8px 0;
	font: 32px Arial, Helvetica, sans-serif;
}

h1.single_head {
	margin: 0;
	padding: 0;
}

h1.page_head span {
	font-size: 11px;
	color: #b1b1b1;
	padding: 10px 0 0 0;
}

h1 {
	margin: 0;
	font: 24px Arial, Helvetica, sans-serif;
}

h2 {
	font: 18px Arial, Helvetica, sans-serif;
}

h3 {
	font: 16px Arial, Helvetica, sans-serif;
}

h4 {
	margin-bottom: 10px;
	font-size: 24px;
	font-weight: bold;
}

h5 {
	font: 18px Arial, Helvetica, sans-serif;
}

h6 {
	font: 18px Arial, Helvetica, sans-serif;
}

/* STRUCTURE ---------------------*/
#top_strip {
	height: 32px;
}

#top_strip_inner {
	max-width: 960px;
	margin: 0 auto;
}

#header_inner {
	max-width: 960px;
	margin: 0 auto;
	height: 115px;
}

#nav_inner {
	max-width: 960px;
	margin: 0 auto 35px auto;
	height: 45px;
	display: block;
}

#wrapper {
	max-width: 960px;
	margin: 0 auto;
	height: 100%;
	overflow: hidden;
}

#content {
	max-width: 720px;
	float: left;
}

#sidebar {
	max-width: 220px;
	float: right;
}

.content_wrapper {
	clear: both;
}

#footer {
	max-width: 960px;
	margin: 0 auto;
	clear: both;
}

#footer_inner {
	padding: 10px 245px 10px 8px;
	height: 100%;
	overflow: hidden;
}

/* HEADER ****************************/
#top_strip p {
	padding: 7px 0 0 0;
	float: right;
	font: 11px Verdana, Geneva, sans-serif;
	text-decoration: none;
}

#top_strip p a {
	text-decoration: underline;
	padding: 0 4px;
}

#top_strip p a:hover {
	text-decoration: none;
}

.logo {
	float: left;
	padding-top: 40px;
}

.header_right {
	float: right;
	padding-top: 25px;
	width: 468px;
}

.blog-title a {
	font: 30px Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	text-decoration: none;
}

.blog-title a:hover {
	text-decoration: none;
}

p.blog-description {
	font-style: italic;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

#nav .search {
	width: 198px;
	height: 30px;
	float: right;
	margin-top: 5px;
	padding-top: 6px;
}

#nav .search .textfield {
	padding: 0px 5px 3px 12px;
	width: 155px;
	float: left;
	font: 14px Arial, Helvetica, sans-serif;
}

#nav .search_button {
	float: right;
	margin: 3px 8px 0 0;
}

#content .publication_list_entry {
	padding: 15px 5px 10px 5px;
	height: 100%;
	overflow: hidden;
	position: relative;
}

#content .publication_list_entry h3 {
	margin: 0;
	font: 18px Arial, Helvetica, sans-serif;
	float: left;
	padding-bottom: 10px
}

#content .publication_list_entry h3 a {
	text-decoration: none;
}

#content .publication_list_entry p {
	float: right;
	width: 585px;
	font: 11px Georgia, "Times New Roman", Times, serif;
	border-bottom: none;
}

#content .publication_list_entry p a {
	text-decoration: none;
}

#content .publication_list_entry p span {
	float: left;
	margin-right: 30px;
}

#content .reviews_total {
	float: left;
	width: 45px;
	font: 11px Georgia, "Times New Roman", Times, serif;
	text-align: center;
	margin-top: 3px;
	margin-right: 20px;
	line-height: normal;
}

#content .reviews_total a {
	text-decoration: none;
	display: block;
	text-align: center;
	font: 14px Arial, Helvetica, sans-serif;
	padding: 5px 0 8px 0;
}

#content .reviews_total a:hover {
	text-decoration: none;
}

#content p.publication {
	font-size: 15px;
	line-height: 22px;
	padding-bottom: 20px
}

#content .posts .publication_list_entry {
	padding: 0;
	margin-bottom: 20px;
}

#content .posts .publication_list_entry .answers_total {
	float: left;
	margin: 0;
}

#content .posts .publication_list_entry  h1 {
	width: 585px;
	float: right;
	display: block;
	margin: 0 0 10px
}

#content .publication_list_entry p span.user {
	padding-left: 18px;
	padding-bottom: 8px;
}

#content .publication_list_entry p span.user a {
	color: #333;
}

#content .publication_list_entry p span.views {
	padding-left: 22px;
	padding-bottom: 8px;
}

#content .publication_list_entry p span.views b {
	font-weight: normal;
	color: #333;
}

#content .publication_list_entry p span.tags {
	padding-left: 18px;
	padding-bottom: 8px;
}

#content  span.branches {
	padding-left: 18px;
	display: block;
}

/* --------------------- */
#content #tab {
	margin: 0;
	padding: 0px 0 0 10px;
	height: 47px;
	list-style: none;
	float: left;
	text-align: right;
	max-width: 710px;
}

* html #content #tab li {
	position: relative;
	top: 5px;
	z-index: 3px;
}

#content #tab li {
	float: left;
	margin: 0;
	padding: 0;
}

#content #tab .page_item a {
	display: block;
	text-decoration: none;
	padding: 18px 22px 13px 22px;
	font: 18px Georgia, "Times New Roman", Times, serif;
}

#content #tab li.current_page_item {
	text-decoration: none;
}

#content #tab li.current_page_item a {
	text-decoration: none;
}

#content .user_tab {
	margin: 0 0 20px 0;
	padding: 0;
	height: 43px;
}

#content .user_tab li {
	margin: 0 0 0 10px;
	padding: 0;
	font: 18px Georgia, "Times New Roman", Times, serif;
	float: left;
}

#content .user_tab li a {
	display: block;
	float: left;
	padding: 10px;
}

/* content -------------*/
#content p {
	font-size: 14px;
}

#content ul {
	list-style: none;
	margin: 0 0 30px 0;
}

#content ul li ul, #content ul li ul li ul {
	margin: 4px 0 0 0;
}

#content li {
	margin: 0 0 10px 0;
	padding: 0 0 0 12px;
	line-height: 20px;
	font-size: 14px;
}

#content ol {
	margin: 0 0 30px 18px;
	padding: 0 0 10px 5px;
	list-style-type: decimal;
	line-height: 18px;
}

#content ol li ol {
	margin: 8px 0 5px 18px;
	padding: 0;
}

#content ol li ol li {
	margin: 0 0 5px 0;
	padding: 0;
	list-style-type: lower-latin;
}

#content ol li ol li ol li {
	list-style-type: lower-roman;
}

#content h3 {
	margin: 0 0 15px 0;
	padding: 0 0 4px 0;
	font: 22px Arial, Helvetica, sans-serif;
}

#content .publication_branch {
	
}

#content .publication_branch li {
	background: none;
	margin: 0 0 12px 0;
	padding: 0;
	display: block;
	width: 220px;
	float: left;
	color: #666;
}

#content .publication_branch li input {
	position: relative;
	top: -2px;
	margin-right: 8px;
}

blockquote {
	clear: both;
	height: 100%;
	margin: 10px 0 0px 5px;
	overflow: hidden;
	padding: 0 0 5px 30px;
}

#content blockquote p, #sidebar blockquote p {
	font: italic 18px Georgia, "Times New Roman", Times, serif;
	margin: 0 0 5px 0;
	padding: 0;
	line-height: 23px;
}

blockquote cite, #sidebar cite {
	font-size: 12px;
	font-weight: bold;
	float: right;
	line-height: 18px;
	text-align: right;
	display: block;
}

blockquote a {
	font-size: 13px;
}

#calendar_wrap {
	padding: 0;
	font-size: 13px
}

#calendar_wrap caption {
	padding: 10px 0
}

#content h5 {
	margin: 30px 0 10px 0;
	padding: 0;
}

#content h5.form_title {
	margin: 30px 0 10px 0;
	padding: 20px 0 0 0;
}

#content .posts h2, #content h2 {
	font-size: 22px
}

#content .posts h3, #content h3 {
	font-size: 20px
}

#content .posts h4, #content h4 {
	font-size: 18px;
	font-weight: normal;
	clear: both;
}

#content .posts h5, #content h5 {
	font-size: 16px
}

#content .posts h6, #content h6 {
	font-size: 14px
}

.content_spacer h4.cate_title {
	font-size: 26px;
	clear: both;
}

#content .posts h2, #content .posts h3, #content .posts h4, #content .posts h5,
	#content .posts h6 {
	margin: 30px 0 5px 0;
	font-family: Arial, Helvetica, sans-serif;
}

#content h2, #content h3, #content h4, #content h5, #content h6 {
	margin: 30px 0 5px 0;
	font-family: Arial, Helvetica, sans-serif;
}

#content .posts {
	padding-bottom: 5px;
	margin-bottom: 35px;
	height: 100%;
	overflow: hidden;
}

#content .post_top {
	margin: 0 0 15px 0;
}

#content p.post_top a {
	text-decoration: none;
}

#content p.post_top a:hover {
	text-decoration: none;
}

.more {
	font-size: 12px;
	font-weight: bold;
}

.post_left {
	width: 100px;
	float: left;
	padding-top: 3px;
}

.post_left span {
	display: block;
	border-bottom: 1px dotted #ddd;
	padding-bottom: 10px;
	margin-bottom: 10px;
	color: #777;
}

.post_right {
	width: 540px;
	float: right;
}

#content .post_top h1, #content .post_top h3 {
	margin: 0;
	padding: 0;
	line-height: normal;
}

#content .post_top h1 a, #content .post_top h3 a {
	text-decoration: none;
}

#content .post_top h3 a {
	font-size: 24px;
}

.single_post_advt {
	padding-bottom: 50px;
	text-align: center;
}

.commentcount {
	margin-left: 0px;
	padding-left: 18px;
}

.commentcount a {
	text-decoration: none;
}

#content p.postmetadata {
	margin: 0;
	font-size: 11px;
}

#content .post_top p.postmetadata {
	margin: 0;
	padding: 0;
	font-size: 11px;
}

#content p.post_bottom {
	margin: 0;
	padding: 10px 0 0 0;
	font-size: 11px;
}

#content p.post_bottom a, #content p.postmetadata a {
	text-decoration: none;
}

#content p.post_bottom a:hover {
	text-decoration: none;
}

.info {
	padding: 10px;
	padding-bottom: 5px;
	margin-bottom: 30px;
}

.published_info {
	padding: 10px;
	padding-bottom: 5px;
	margin-bottom: 30px;
	background: #fffdc3;
	border: 1px solid #ff7800;
}

/* sidebar  ---*/
.sidebar_spacer {
	padding-top: 54px;
}

a.submitpublication_button {
	margin-top: 4px;
	width: 220px;
	height: 46px;
	text-indent: -9009px;
	display: block;
	margin-bottom: 20px;
}

#sidebar .widget {
	margin-bottom: 30px;
}

#sidebar .widget h3 {
	margin: 0 0 5px 0;
	padding: 0 0 5px 0;
	font: 18px Arial, Helvetica, sans-serif;
}

#sidebar ul {
	margin: 0;
	padding: 0;
}

#sidebar li {
	margin: 0 0 0px 0;
	padding: 4px 0 8px 15px;
	font: 14px Arial, Helvetica, sans-serif;
}

#sidebar li ul {
	margin: 0;
	padding: 0;
}

#sidebar li ul li {
	border-bottom: none;
	margin-bottom: 4px;
	padding: 9px 0 0px 15px;
	background-position: 0 15px;
}

#sidebar .topusers li {
	padding-left: 0;
}

#sidebar .topusers li img {
	float: left;
	margin: 0 8px 0 0;
}

#sidebar .topusers li .users {
	float: left;
	margin-right: 5px;
	padding: 5px 0;
	font: 12px Arial, Helvetica, sans-serif;
}

#sidebar .topusers li .points {
	float: right;
	padding: 5px 0;
	font: bold 12px Arial, Helvetica, sans-serif;
}

#sidebar .widget h3 span.point {
	font: bold 12px Arial, Helvetica, sans-serif;
}

.subscribe {
	background: #fff;
	border: 1px solid #cbdfec;
	padding: 14px;
}

#sidebar .subscribe h6 {
	margin: 0;
	padding: 0 0 7px 0;
}

#sidebar .subscribe p {
	line-height: normal;
}

#sidebar .subscribe .subscribefieldnow {
	border: 1px solid #ccc;
	padding: 5px;
	max-width: 175px;
	margin-bottom: 8px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #333;
}

#sidebar .subscribe .submit {
	background: #666;
	padding: 4px 8px;
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #fff;
	border: none;
	cursor: pointer;
}

/* form ------ */
.form_row {
	margin: 8px 0 12px 0;
}

.form_row label {
	width: 180px;
	float: left;
	font: 14px Arial, Helvetica, sans-serif;
	padding: 9px 15px 9px 0;
	text-align: right;
}

.form_row .textfield {
	float: left;
	width: 300px;
	font: 13px Arial, Helvetica, sans-serif;
	padding: 7px 8px;
}

.form_row .select {
	float: left;
	width: 318px;
}

.form_row .textarea {
	float: left;
	width: 380px;
	height: 200px;
	font: 13px Arial, Helvetica, sans-serif;
	float: left;
	padding: 7px 8px;
}

.btn_spacer {
	margin-left: 193px;
}

.indicates {
	font-size: 11px;
}

#contact_detail_id p {
	clear: both
}

#contact_detail_id .que_error_msg {
	clear: both;
	padding: 3px 0 0 84px;
}

.error_msg, .que_error_msg2 {
	display: block;
	padding: 3px 0 0 195px;
	float: left;
	clear: both;
}

#questionform p.que_error_msg {
	clear: both;
	padding: 3px 0 0 84px;
	color: #900;
	padding-bottom: 5px;
}

.btn_input_highlight {
	cursor: pointer;
	padding: 8px 20px;
	text-align: center;
	font: bold 14px Arial, Helvetica, sans-serif;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.btn_input_normal {
	cursor: pointer;
	padding: 8px 20px;
	text-align: center;
	font: bold 14px Arial, Helvetica, sans-serif;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.b_spacer2 {
	float: left;
	clear: both;
	margin: 10px 0 0 0;
}

.b_spacer1 {
	margin-left: 194px !important;
}

.b_spacer3 {
	margin-left: 0 !important;
}

.btn_spacer {
	margin-right: 10px;
}

.message_note {
	clear: both;
	float: left;
	margin-left: 195px;
	color: #777;
}

/* login form -----------*/
#loginform {
	padding-top: 30px;
}

#loginform label {
	width: 180px;
}

#loginform .form_row label span {
	color: #900;
}

#loginform .form_row .message_error2, #changepw_frm .form_row .message_error2
	{
	clear: both;
	display: block;
	color: #900;
	padding: 4px;
	margin-left: 190px;
}

#loginform p.rember {
	float: left;
	color: #666;
	margin-left: 190px;
	font-size: 12px;
}

#loginform p.links {
	float: left;
	color: #666;
	margin-left: 190px;
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 30px;
}

#loginform p.links a {
	margin-right: 5px;
	margin-left: 5px;
}

.forgot_spacer {
	margin-left: 57px;
}

/* login form widget -----------*/
#sidebar .login_widget {
	padding: 10px;
}

#sidebar .login_widget h3 {
	margin: 0 0 8px 0;
	padding: 0;
}

#sidebar #loginform {
	padding: 0;
}

#sidebar #loginform .form_row label {
	text-align: left;
	padding: 3px 0;
}

#sidebar #loginform .form_row .textfield {
	width: 175px;
}

#sidebar #loginform .form_row {
	height: 100%;
	overflow: hidden;
	margin-bottom: 15px;
}

.pro_author {
	height: 100%;
	overflow: hidden;
}

.pro_author img {
	margin: 0 10px 0 0;
	float: left;
	border: 1px solid #a6c9de;
	padding: 1px;
}

.pro_author p {
	font-size: 14px;
}

.pro_author p a {
	text-decoration: underline;
}

#sidebar .tagcloud {
	line-height: 22px;
}

input#submit {
	width: 125px;
	height: 47px;
	margin-left: 85px;
	cursor: pointer;
}

.spacer {
	margin-left: 0 !important;
}


/* FOOTER ------------------------------------*/
#footer_inner .fleft {
	padding-top: 5px;
}

#footer p {
	padding: 0px 0px 5px 0px;
	margin-left: -3px;
	line-height: 18px;
}

#footer .copyrights {
	margin: 58px 0px 10px 0px;
	float: left;
	width: 400px;
}

#footer .copyrights p.author {
	color: #8b8674;
}

#footer .footerright {
	margin: 58px 5px 10px 0px;
	padding-right: 10px;
	float: right;
	text-align: center;
}

#footer ul {
	margin-left: -10px;
	margin-bottom: 10px;
}

#footer ul li {
	padding: 0px 5px;
	display: inline;
	list-style-type: none;
	border-left: 1px solid #ccc;
}

#footer ul li a {
	text-decoration: none;
}

#footer .fleft {
	width: 470px;
	float: left;
}

#footer p.author {
	float: right;
}

#footer .designby {
	padding: 5px 8px 0 0;
	float: left;
}

/* Post Pagination */
.pagination {
	height: 100%;
	overflow: hidden;
	text-align: center;
	clear: left;
	margin: 25px 0;
}

.pagination .on, .pagination a {
	padding: 5px 10px;
	margin-right: 3px;
	margin-left: 3px;
	display: inline;
	font-weight: bold;
}

.pagination a {
	margin-left: 0;
	line-height: 28px;
	text-decoration: none;
}

#content .alphabetical {
	padding: 10px 0 20px 20px;
}

#content .alphabetical li {
	margin: 0;
	padding: 0;
	float: left;
}

.alphabetical li a {
	padding: 5px 7px;
	margin-right: 3px;
	float: left;
	display: block;
	font: bold 11px Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.author_photo {
	float: left;
	border: 1px solid #ccc;
	padding: 2px;
}

.agent_biodata {
	float: right;
	width: 450px;
}

.sucess_msg {
	text-align: center;
	padding: 10px;
	margin: 10px 0;
	background: #ecffe0;
	border-top: 1px solid #6aa23a;
	border-bottom: 1px solid #6aa23a;
	font-size: 12px;
	font-weight: bold;
	color: #5e962e;
}

.error_msg {
	text-align: center;
	padding: 10px;
	margin: 10px 0;
	background: #ffe2e2;
	border-top: 1px solid #af3a3a;
	border-bottom: 1px solid #af3a3a;
	font-size: 12px;
	font-weight: bold;
	color: #9a1313;
}

.propertylistinglinks {
	height: 100%;
	overflow: hidden;
}

.published_box {
	padding: 10px 0 10px 0;
	height: 100%;
	overflow: hidden;
}

/* clearfix ----- */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0
}

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block
}

* html .clearfix {
	height: 1%
}

.clearfix {
	display: block;
}
/*  --------------------------------------------------
Global Reset - Resets all browser defaults to 0
-------------------------------------------------- */
body {
    color: #333;
    background: #e8f5fd;
}

a {
    color: #0d5488;
    text-decoration: none;
}

a:hover {
    color: #333;
}

hr {
    color: #fffdea;
    border: none;
    border-top: 1px dotted #372322;
}

.alignleft {
    border: 2px solid #ccc;
    background: #fff;
}

.alignright {
    border: 2px solid #ccc;
    background: #fff;
}

/* headings ---------------------- */
h1.page_head, h1.single_head {
    color: #0e5285;
    border-bottom: 1px solid #e5e5e5;
}

h1 {
    color: #0d5488;
}

h2 {
    color: #000;
}

h4 {
    color: #0d5488;
}

h6 {
    color: #1b110d;
}

/* STRUCTURE ---------------------*/
#top_strip {
    background: #1a96c1 url(images/top_strip.png) repeat-x bottom;
}

#header {
    background: #017fc1 url(images/headerbg.png) repeat-x top;
    border-top: 1px solid #4fc2ef;
    border-bottom: 1px solid #2f90cb;
}

#nav {
    background: #09649c url(images/navbg.png) repeat-x top;
    _background: url(images/navbg.png) repeat-x top;
}

.content_wrapper {
    background-color: white;
    box-shadow: 1px 0px 4px 2px #888888;
    margin-bottom: 15px;
}

.content_body {
	padding: 0 30px 30px 30px;
	clear: both;
}

.content_over_shadow {
    padding-top: 30px;
    position: relative; /* look at this */
    background:#fff;    /* a solid background (non transparent) */
}

#footer {
    height: 100%;
    overflow: hidden;
}

/* HEADER ****************************/
#top_strip p {
    color: #b6eaff;
}

#top_strip p a {
    color: #b6eaff;
}

#top_strip p a:hover {
    color: #fff;
}

.header .logo p {
    color: #847e6a;
}

.search {
    background: url(images/searchbg.png) no-repeat left top;
}

.search .textfield {
    background: none;
    border: none;
    color: #94bdd7;
}

/*#content  ------------------- */
#content .publication_list_entry {
    border-bottom: 1px solid #dae6ee;
    background: #fff;
}

#content .publication_list_entry:hover {
    border-bottom: 1px solid #dae6ee;
    background: #f6fafd;
}

#content .publication_list_entry h3 {
    color: #555;
    border-bottom: none;
}

#content .publication_list_entry h3 a {
    color: #555;
}

#content .publication_list_entry h3 a:hover {
    color: #0e5285;
}

#content .publication_list_entry p {
    color: #777;
    border-bottom: none;
}

#content .publication_list_entry p a {
    color: #777;
}

#content .publication_list_entry p a:hover {
    color: #000;
}

#content .reviews_total {
    color: #555;
    margin-bottom: 5px;
}

#content .reviews_total a {
    color: #fff;
}

#content .reviews_total a:hover {
    color: #fff;
}

#content .posts .publication_list_entry {
    background: none;
    border: none;
}

/* --------------------- */
#content .reviews_total {
    background: url(images/reviewbg.png) no-repeat center top;
}

#content .publication_list_entry p span.user {
    background: url(images/user.png) no-repeat left top;
}

#content .publication_list_entry p span.views {
    background: url(images/views.png) no-repeat left 3px;
}

#content .publication_list_entry p span.tags {
    background: url(images/tags.png) no-repeat left 0px;
}

#content span.branches {
    background: url(images/branch.png) no-repeat left 0px;
}

#content #tab {
	margin-top: 5px;
}

#content #tab li {
}

#content #tab li.page_item a {
	margin-top: -3px;
    color: #82939d;
}

#content #tab .page_item a {
    color: #cde7ff;
}

#content #tab .page_item a:hover {
    background-position: 0px 0px;
    border: none;
    color: #0e5285;
}

#content #tab li.current_page_item {
    color: #0e5285;
    box-shadow: 1px 1px 5px 2px #888888;
    background-color: white;
}

#content #tab li.current_page_item a {
	margin-top: -3px;
    color: #0e5285;
}

#content #tab li.current_page_item a:hover {
    color: #333;
}

.info {
    background: #f5f5f5;
    border: 1px solid #e1e1e1;
    color: #686868;
}

#content .user_tab {
    background: url(images/tab_bg.png) repeat-x bottom;
    height: 43px;
}

#content .user_tab li {
    background: none;
}

#content .user_tab li a {
    border: 1px solid #ccc;
    border-bottom: none;
    color: #b3b3b3;
}

#content .user_tab li a:hover {
    background: #e4e4e4;
    border-bottom: none;
    color: #333;
}

#content .user_tab li.current_page_item a {
    background: #fff;
    border: 1px solid #b2dbf0;
    border-bottom: 1px solid #fff;
    color: #034668;
}

/* content -------------*/

#content ol li {
    background: none;
}

#content p.more a {
    color: #333;
}

#content p.more a:hover {
    color: #000;
}

#content h3 {
    border-bottom: 1px solid #ccc;
}

#content h5.form_title {
    color: #9c5500;
}

#content .post_top .avatar {
    border: 1px solid #b09b86;
    padding: 3px;
    background: #fff;
}

#content .post_top h1 {
    border-bottom: none;
}

#content .post_top h3 {
    border-bottom: none;
}

.commentcount a {
    color: #666;
}

.commentcount a:hover {
    color: #000;
}

#content p.postmetadata a {
    border-bottom: 1px dotted #ccc;
}

#content .post_top p.postmetadata {
    color: #838383;
}

/* -------- */
code {
    background: #ccc;
}

blockquote {
    background: url(images/quote.png) no-repeat left 5px;
}

blockquote p {
    color: #333;
}

blockquote cite {
    color: #666;
}

blockquote a {
    color: #333;
}

blockquote a:hover {
    color: #000;
}

#content .post_top {
    background: url(images/post.png) no-repeat left 5px;
}

#content .post_top h2 a {
    color: #000;
}

#content .post_top h2 a:hover {
    color: #333;
}

.commentcount {
    background: url(images/comment.png) no-repeat left 1px;
}

.commentcount a {
    border-bottom: 1px dotted #838383;
}

#content .post_top a {
    color: #666;
}

#content .post_top a:hover {
    color: #333;
}

#content .posts {
    border-bottom: 3px solid #eee;
}

#content .posts h3 a {
    color: #333;
}

#content .posts h3 a:hover {
    color: #0d5488;
}

#content p.post_bottom {
    color: #555;
}

#content p.post_bottom a {
    color: #444;
}

#content p.post_bottom a:hover {
    color: #000;
}

#sidebar .widget h3 {
    background: url(images/side_headbg.png) no-repeat center bottom;
    color: #6f96b4;
}

#sidebar li {
    background: url(images/bullet.png) no-repeat left 10px;
    border-bottom: 1px solid #d0dce3;
}

#sidebar .login_widget {
    background: #fff;
    border: 1px solid #cbdfec;
}

#sidebar .login_widget h3 {
    background: #fff !important;
    border-bottom: 1px solid #ccc;
}

#sidebar .topusers li a {
    color: #555;
}

#sidebar .topusers li a:hover {
    color: #000;
}

#sidebar .topusers li {
    background: none;
}

#sidebar .topusers li img {
    border: 1px solid #a6c9de;
}

#sidebar .widget h3 span.point {
    color: #555;
}

/* form ------ */
.form_row .textfield {
    border: 1px solid #ccc;
}

.form_row .textarea {
    border: 1px solid #ccc;
}

.indicates {
    color: #F00;
}

.error_msg {
    color: #900;
}

.btn_input_highlight {
    background: #0e5184 url(images/buttonbg.png) repeat-x top;
    border: none;
    color: #fff;
}

.btn_input_highlight:hover {
    background: #084069;
    color: #fff;
}

.btn_input_normal {
    background: #777;
    border: 1px solid #666;
    color: #fff;
}

.btn_input_normal:hover {
    background: #333;
    color: #fff;
}

#content p.success_msg {
    padding: 5px;
    margin-top: 20px;
    text-align: center;
}

#content p.success_msg {
    color: #356c1d;
    background: #cee8c3;
    border-top: 1px solid #7ea96b;
    border-bottom: 1px solid #7ea96b;
}

#footer {
    color: #6c6858;
}

#footer p {
    color: #6c6858;
}

#footer .copyrights {
    color: #8b8674;
}

#footer .copyrights p.author {
    color: #8b8674;
}

#footer .footerright {
    color: #333;
    text-align: center;
}

#footer ul li {
    color: #6c6858;
}

#footer ul li a {
    color: #6c6858;
}

#footer ul li a:hover {
    color: #000;
}

/* Post Pagination */
.pagination .on {
    background: #0e5184;
    color: #fff;
}

.pagination a {
    background: #e3e3e3;
    color: #333;
}

.pagination a:hover {
    color: #fff;
    background: #666;
}

#nav_inner ul li ul {
    
}

#nav_inner ul li ul li {
    background: #fff;
    color: #6f5345;
}

#nav_inner ul li a {
    color: #b6dbeb;
    cursor: pointer;
}

#nav_inner ul li a:hover {
    color: #fff;
    cursor: pointer;
}

#nav_inner ul li.current_page_item a, #nav_inner ul li.current_page_parent a
    {
    background: url(images/nav_h.png) no-repeat center top;
    color: #0f5183;
}

#nav_inner ul li ul li a, #nav_inner ul li.current_page_item ul li a,
    #nav_inner ul li.current_page_parent ul li a {
    background: #092e49;
    color: #fff;
    cursor: pointer;
}

#nav_inner ul li ul li a:hover, #nav_inner ul li ul li:hover,
    #nav_inner ul li ul li.current_page_item a, #nav_inner ul li ul li.current_page_parent a,
    #nav_inner ul li ul li.current_page_item a {
    background: #02131f;
    color: #fff;
    cursor: pointer;
}

#nav_inner ul li.current_page_item a:hover {
    color: #333;
}

#nav_inner ul li.current_page_item ul li a:hover {
    color: #fff;
}

#nav_inner ul li.current_page_parent ul li.current_page_item a:hover {
    color: #fff;
}

#nav_inner ul li.current-menu-item a {
    background: url(images/nav_h.png) no-repeat center top;
    color: #0f5183;
}

#nav_inner ul li ul li a, #nav_inner ul li.current-menu-item ul li a {
    background: #092e49;
    color: #fff;
    cursor: pointer;
}

#nav_inner  ul li ul li a:hover {
    background: #02131f;
    color: #fff;
}

/*---------TOP NAVIGATION for PAGES---------*/
#top_strip_inner ul li ul li { /* border:1px solid #497c9c;*/
    background: #fff;
    color: #6f5345;
}

#top_strip_inner ul li a {
    color: #b6dbeb;
    cursor: pointer;
}

#top_strip_inner ul li a:hover {
    color: #fff;
    cursor: pointer;
}

#top_strip_inner ul li.current_page_item a, #top_strip_inner ul li.current_page_parent a
    {
    background: #1283ac;
    color: #fff;
}

#top_strip_inner ul li ul li a, #top_strip_inner ul li.current_page_item ul li a,
    #top_strip_inner ul li.current_page_parent ul li a {
    background: #fff;
    color: #666;
    cursor: pointer;
}

#top_strip_inner ul li ul li a:hover, #top_strip_inner ul li ul li:hover,
    #top_strip_inner ul li ul li.current_page_item a, #top_strip_inner ul li ul li.current_page_parent a,
    #top_strip_inner ul li ul li.current_page_item a {
    background: #e8f5fd;
    color: #0f5183;
    cursor: pointer;
}

#top_strip_inner ul li.current-menu-item a {
    background: #1283ac;
    color: #fff;
}

#top_strip_inner ul li ul li a, #top_strip_inner ul li.current-menu-item ul li a
    {
    background: #e8f5fd;
    color: #0f5183;
}

#top_strip_inner ul li ul li a:hover {
    background: #e8f5fd;
    color: #0f5183;
}